$ui-breakpoint-sm: 576px !default;
$ui-breakpoint-sm-max: ($ui-breakpoint-sm - 1) !default;;
$ui-breakpoint-md: 768px !default;;
$ui-breakpoint-md-max: ($ui-breakpoint-md - 1) !default;;
$ui-breakpoint-lg: 992px !default;;
$ui-breakpoint-lg-max: ($ui-breakpoint-lg - 1) !default;;
$ui-breakpoint-xl: 1200px !default;;
$ui-breakpoint-xl-max: ($ui-breakpoint-xl - 1) !default;;
$ui-breakpoint-xxl: 1400px !default;;
$ui-breakpoint-xxl-max: ($ui-breakpoint-xxl - 1) !default;;