@use 'sass:math';
@import "./Breakpoints";

$sizes: $ui-breakpoint-sm "sm", $ui-breakpoint-md "md", $ui-breakpoint-lg "lg", $ui-breakpoint-xl "xl", $ui-breakpoint-xxl "xxl";
$sizes-max: $ui-breakpoint-sm-max "sm", $ui-breakpoint-md-max "md", $ui-breakpoint-lg-max "lg", $ui-breakpoint-xl-max "xl";

$types: (column: col, row: row) !default;

.ui-grid {
  display: grid;

  &-name {
    grid-area: var(--name);
  }

  &-template {
    grid-template-areas: var(--template);
  }

  @each $type, $t in $types {
    &-#{$t} {
      grid-#{$type}: span var(--#{$t}) / span var(--#{$t});
    }
    &-#{$t}-start {
      grid-#{$type}-start: var(--#{$t}-start);
    }
    &-#{$t}-end {
      grid-#{$type}-end: var(--#{$t}-end);
    }
    @each $size, $letter in $sizes {
      @media (min-width: $size) {
        &-#{$t}-#{$letter} {
          grid-#{$type}: span var(--#{$t}-#{$letter}) / span var(--#{$t}-#{$letter});
        }
        &-#{$t}-start-#{$letter} {
          grid-#{$type}-start: var(--#{$t}-start-#{$letter});
        }
        &-#{$t}-end-#{$letter} {
          grid-#{$type}-end: var(--#{$t}-end-#{$letter});
        }
      }
    }
  }
  @each $type, $t in $types {
    &-#{$t}s {
      grid-template-#{$type}s: repeat(var(--#{$t}s), minmax(0, 1fr));
    }
    @each $size, $letter in $sizes {
      @media (min-width: $size) {
        &-#{$t}s-#{$letter} {
          grid-template-#{$type}s: repeat(var(--#{$t}s-#{$letter}), minmax(0, 1fr));
        }
      }
    }
  }

  &-flow-column {
    grid-auto-flow: column;
  }

  &-flow-dense {
    grid-auto-flow: dense;
  }

  &-flow-row {
    grid-auto-flow: row;
  }

  &-display-none  {
    display: none;
  }
  &-display-block  {
    display: block;
  }
  @each $size, $letter in $sizes {
    @media (min-width: $size) {
      &-display-none-#{$letter}  {
        display: none;
      }
      &-display-block-#{$letter}  {
        display: block;
      }
    }
  }
}

.ui-gap {
  &-0 {
    gap: 0;
  }

  @for $i from 0 through 5 {
    &-#{$i} {
      gap: math.round(5px * $i);
    }
  }
}